air-3.0.0/*
!air-3.0.0/fisco-docker-setup-instruction.md
!air-3.0.0/fisco-air-setup-files.rar

air-3.7.3/*
!air-3.7.3/fisco-docker-setup-instruction.md
!air-3.7.3/fisco-air-3.7.3-setup-files.rar

max/*
!max/fisco-docker-setup-instruction.md
!max/fisco-max-setup-files.rar

pro/*
!pro/fisco-docker-setup-instruction.md
!pro/fisco-pro-setup-files.rar

/.idea/
/*.iml
/.vscode/
